nav {
    display: flex;
    height: 70px;
    background: #000000 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    align-items: center;
    justify-content: space-around;
}

body {
    margin: 0;
}

nav div {
    display: flex;
}

nav img {
    width: 204px;
    height: 50px;
    background: transparent 0% 0% no-repeat padding-box;
}

nav a {
    font: normal normal normal 24px/32px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    align-self: flex-end;
    margin-left: 100px;
    text-decoration: none;
}

nav a:hover {
    color: #FF5B41;
}

header {
    height: 1083px;
    background: transparent url('images/img1.png');
    background-size: cover;
    background-position: center;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}

header div h1 {
    text-align: left;
    font: normal normal bold 70px/15px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

header div h2 {
    text-align: left;
    font: normal normal normal 22px/15px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

header div h3 {
    text-align: center;
    font: normal normal bold 27px/45px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    border: 4px solid #FFFFFF;
    height: 50px;
    width: 250px;
    border-radius: 15px;
}

header div h3:hover {
    color: #FF5B41;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

#destaques {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height: 650px;
    display: flex;
    justify-content: space-around;
}

#destaques div {
    width: 1100px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#destaques h1 {
    text-align: left;
    font: normal normal bold 45px/0 px Segoe UI;
    letter-spacing: 0px;
    color: #646464;
    padding-left: 35px;
}

#destaques ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#destaques li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#destaques p {
    text-align: left;
    font: normal normal bold 20px/21px Segoe UI;
    letter-spacing: 0px;
    color: #646464;
}

#destaques a {
    text-align: center;
    font: normal normal bold 15px/35px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 130px;
    height: 40px;
    background: #FF5B41 0% 0% no-repeat padding-box;
    border-radius: 15px;
    text-decoration: none;
}

#destaques a:hover {
    color: #FF5B41;
    border: solid #FF5B41;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.foto-filme {
    height: 200px;
}

#cadastro {
    background: #232323 0% 0% no-repeat padding-box;
    height: 650px;
    display: flex;
    justify-content: space-around;
}

.instru-cadastro {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.instru-cadastro h1 {
    text-align: left;
    font: normal normal bold 40px/42px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.instru-cadastro p {
    text-align: left;
    font: normal normal normal 15px/42px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.formulario-cadastro {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-around;
}

.formulario-cadastro form {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputs-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs-form input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    height: 50px;
    padding-left: 10px;
}

.inputs-form label {
    text-align: left;
    font: normal normal bold 15px/31px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.inputs-form-sinopse {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs-form-sinopse input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    height: 100px;
    padding-left: 10px;
}

.inputs-form-sinopse label {
    text-align: left;
    font: normal normal bold 15px/31px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
}

input[type=submit] {
    background: #FF5B41 0% 0% no-repeat padding-box;
    height: 50px;
    font: normal normal bold 15px/24px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
}


footer {
    background: #000000 0% 0% no-repeat padding-box;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div {
    display: flex;
    width: 400px;
    justify-content: space-around;
}

footer h1 {
    font: normal normal bold 20px/32px Segoe UI;
    color: #FFFFFF;
}